<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kangdroid.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity   android:name=".HeadInfoActivity" android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.kangdroid.myapplication.HeadInfoActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity   android:name=".SchoolHistoryActivity" android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.kangdroid.myapplication.SchoolHistoryActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity   android:name=".SchoolSymbolPreference" android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.kangdroid.myapplication.SchoolSymbolPreference" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity   android:name=".SchoolEducationAim" android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.kangdroid.myapplication.SchoolEducationAim" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity   android:name=".SchoolTeacherInfo" android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.kangdroid.myapplication.SchoolTeacherInfo" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity   android:name=".SchoolClubInfoActivity" android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.kangdroid.myapplication.SchoolClubInfoActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
